.ColGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 2rem;
    gap: 4vmin;
    border: 2px solid;
    border-radius: 15px;
    padding: 15px;
    /* grid-template-columns: 32vmin 32vmin 32vmin 32vmin 32vmin;
    grid-template-rows:  32vmin 32vmin 32vmin 32vmin 32vmin; */
    /* list-style: none; */
}


.page-title {
    font-family: 'Amaranth', sans-serif;
}