.titleFont {
    font-family: 'Amaranth', sans-serif;
    color: rgb(105, 51, 44);
}

.albumCov {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    float: left;
    width: 50%;
}

.albumDeets {
    margin-top: 6rem;
}

.label {
    font-weight: bold;
}