.page-title {
    font-family: 'Amaranth', sans-serif;
}

.searchBar {
    margin-right: 3rem;

}

.searchGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 2rem;
    margin-top: 1rem;
    gap: 4vmin;
    border: 2px solid;
    border-radius: 15px;
    border-color: rgb(105, 51, 44);
    padding: 20px;
    background-color: rgb(240, 240, 240);
}