.ColGrid2 {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem; */
    /* height: 100%;
    margin: 2rem;
    gap: 4vmin;
    border-radius: 15px;
    border-color: rgb(105, 51, 44);
    padding: 15px; */
    /* grid-template-columns: 32vmin 32vmin 32vmin 32vmin 32vmin;
    grid-template-rows:  32vmin 32vmin 32vmin 32vmin 32vmin; */
    /* list-style: none; */
}